* {
	box-sizing: border-box;
}

/*Every .html page styling*/

body {
	background-image: url("../images/organic-tiles.png");
	background-color: #ccc;
	margin: 10px 20px 10px 20px;
	padding: 10px 20px 10px 20px;
}

#header {
	position: absolute;
	background-color: #fff;
	border: 2px solid;
	border-color: #ccc;
	height: 10%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	
}

.h1 {
	position: absolute;
	background-color: #4aaaa5;
	border: 1px solid;
	border-color: #4aaaa5;
	padding: 20px;
	width: 250px;
	top: -20px;
	left: 11.7%;
	bottom: -10px;

}

.h1-set {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #fff;
	position: absolute;
	top: 20px;
}

#menu {
	position: absolute;
	right: 20%; 
	top: 30px;
	color: #ccc;
}

.menu2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ccc;
	padding: 10px;
}

#connect {
	border: 1px solid black;
	border-color: #fff;
	background: #fff;
	width: 250px;
	height: 200px;
	position: absolute;
	padding: 20px;
	text-align: center;
	top: 100px;
	right: 20%;	
}	

.h2-1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 20px;
}

#line {
	position: relative;
	top: 15px;
}
.logo {
	position: absolute;
	height: 70px;
	width: 70px;
}

.lo1 {
	top: 40%;
	left: 6%;
}

.lo2 {
	top: 40%;
	left: 38%;
}

.lo3 {
	top: 40%;
	right: 6%;
}

#footer {
	background: #666;
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 5px solid black;
	border-color: #4aaaa5;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
	padding: 20px;

}

.p3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	margin-top: 20px;
	color: #ccc;

}

.h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	position: relative;
	top: -10px;
	left: 25px;
}

.line {
	position: absolute;
	width: 550px;
	background-color: #DCDCDC;
	border: 0 none;
	height: 2px;
	left: 2px;
}

/*index.html styling*/

#wrapper {
	position: relative;
	border: 1px solid black;
	border-color: #ddd;
	background: #fff;
	width: 650px;
	height: 550px;
	left: 10%;
	top: 80px;
	padding: 20px;
}

#me {
	float: left;
	width: 230px;
	height: 230px;
	position: relative;
	top: 20px;
	left: 20px;
}

.p{ 
	position: relative;
	left: 30px;
	right: 10px;
	top: 10px;
	padding: 20px;
	font-size: 15px;
	line-height: 170%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }

.p2 {
	position: relative;
	left: 30px;
	top: -25px;
	padding: 20px;
	font-size: 15px;
	line-height: 170%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#line {
	margin: 0 auto;
	background-color: #DCDCDC;
	border: 0 none;
	height: 2px;
}

/*contact.html styling*/

#container {
	width: 600px;
	height: 570px;
	position: relative;
	border: 1px solid black;
	border-color: #ddd;
	background: #fff;
	top: 80px;
	left: 10%;
}

.h2-2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	position: relative;
	top: 15px;
	left: 25px;
	font-size: 30px;
}

input[type=text], select {
	width: 90%;
	padding: 12px 20px;
	margin: 20px 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	top: 70px;
	left: 20px;
}
label {
	position: relative;
	margin: 35px 0;
	top: 20px;
	left: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#name {
	top: 60px;
	left: -25px;
}

#email {
	top: 60px;
	left: -25px;
}

#message {
	height: 200px;
	top: -20px;
	left: 20px;
}

input[type=submit] {
	width: 100px;
	height: 30px;
	background-color: #4aaaa5;
	color: white;
	margin: auto 0;
	cursor: pointer;
	text-align: center;
	border: 0 none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	top: -15px;
	left: 20px;
}

/*Portfolio Styling*/

#wrap {
	height: 550px;
	width: 650px;
	position: relative;
	top: 80px;
	left: 10%;
	background-color: #fff;
}

.pic {
	position: absolute;
	width: 250px;
	height: 150px;
}

.pic1 {
	top: 15%;
	left: 4%;
}

.pic2 {
	top: 43%;
	left: 4%;
}

.pic3 {
	top: 71%;
	left: 4%;
}

.pic4 {
	top: 15%;
	right: 4%;
}

.pic5 {
	top: 43%;
	right: 4%;
}

.label{
	position: absolute;
	width: 250px;
	height: 35px;
	border: 1px solid;
	border-color: #4aaaa5;
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	padding: 5px;
}

.l1 {
	top: 30.5%;
	left: 4%;
}

.l2 {
	top: 58.5%;
	left: 4%;
}

.l3 {
	top: 86.5%;
	left: 4%;
}

.l4 {
	top: 30.5%;
	right: 4%;
}

.l5 {
	top: 58.5%;
	right: 4%;
}